# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Coverage reports
*.out
coverage.html

# Temporary files
tmp/

# Go workspace file
go.work

# Backups
*~

# IDE
/.idea/
/.vscode/

# Binary
/caddy
/caddy-ipset

# Nodejs
/node_modules/
